.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/
checkpoints/
artifacts/
runs/
training_dashboard/data/dashboard-state.json

data/local/**
!data/local/
!data/local/README.md
!data/local/train/
!data/local/train/fdc/
!data/local/train/fdc/.gitkeep
!data/local/train/vib/
!data/local/train/vib/.gitkeep
!data/local/test/
!data/local/test/fdc/
!data/local/test/fdc/.gitkeep
!data/local/test/vib/
!data/local/test/vib/.gitkeep
